*{
    margin: 0;
    padding: 0;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    height: 100vh;
}
body{
    width: 100%;
    background-image: linear-gradient(#f8fafa,#f19820, #003057);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open sans', sans-serif;
}
header{
    text-align: center;
    width: 100%;
    margin-top: 50px;
}
header img{
    width: 200px;
    padding: 15px;
}
.principal{
    display: flex;
    flex-flow: column;
    border: 3px;
    border-style:outset;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    border-radius: 15px;
}
.cadastro{
    font-size: 25px;
    padding: 10px;
    text-shadow: 5px 5px 5px grey;
}
.preferencia{
    font-size: 35px;
    text-shadow: 5px 5px 5px grey;
    padding: 10px;
}

.button{
    text-align: center;
    width: 500px;
    margin-top: 20px;
}

.button button{
    padding: 10px;
    border: none;
    background: #f19820;
    color: #003057;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer; 
    transition: 0.5s ease-in-out;
}

.button button:hover{
    background: #003057;
    color: #f19820;
    transition: 0.5s;
}

/* responsividade */
 @media(min-width:414px){
    header img{
        width: 200px;
    }
    .principal{
    margin-top: 80px;
    }
}@media(min-width:688px){
    .principal{
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 100px;
    }
}
@media(min-width:768px){
    .principal{
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 100px;
    }
    .cadastro{
        font-size: 40px;
    }
    .preferencia{
        font-size: 50px;
    }
}
@media(min-width:1000px){
    .principal{
        margin-left: 90px;
        margin-right: 90px;
        margin-top: 80px;
    }
    .cadastro{
        font-size: 50px
    }
    .preferencia{
        margin-top: 50px;
        font-size: 60px;
    }
}